APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

JWT_SECRET=
JWT_TTL=null
JWT_REFRESH_TTL=null

SALES_AUTH=S9HqP6ttuguG365YBf0HPYP0JH0X4PovasAs5o9eCamLDuIKmzRfK4LYWlxaHwOb

STRIPE_SECRET_KEY=sk_test_51L2OHmJ5D9KpYwZ5vM4s4wXDv5MTx1FDJdZLZfSaUVYoGe8usI4sClhGBaaLCa7JUbZ4Ko1m21tsLXwQp24yozNG00WY09yLtt
STRIPE_CLIENT_ID=
STRIPE_REDIRECT_URI=

FCM_SERVER_KEY=AAAAtRnolNo:APA91bGTqjk5QPxPlQ6Gj54Kiq_xLyXVR9zEvqjXSfpODuJ0Pu3Np7b19ryCT8AxRPWVwvRCotXx9WH-LJbLLXFmH2r9dZ5zx__GWrq92TEyapHtlmbK4_Ekn1TfE5aXar-UkS6VOznf
